/*Style the body element */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*Style the App component */
.App {
  padding: 0px;
}
/*Style the card-container class */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  background-color: #343a40; /* Dark gray background */
  color: #fff; /* White text color */
}
/*Style the site logo */
.siteLogo {
  width: 120px;
  margin: 0 auto;
}